{% extends 'account/dashboard/components/base/base_template.html' %}

{% block Title %}
لیست رسید ها
{% endblock %}


{% block Content %}
{% include 'account/dashboard/components/base/nav.html' %}

<section class="main_content dashboard_part large_header_bg">
    {% include 'account/dashboard/components/base/header.html' %}
    <div class="main_content_iner">
        <div class="container-fluid p-0 ">
            <div class="col-lg-12">
                <div class="white_card mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">لیست رسید ها</h3>
                            </div>
                        </div>
                        <div class="breadcrumb">
                            <ul>
                                <li>
                                    <a href="{% url 'account:dashboard' %}">داشبورد</a>
                                </li>
                                <li>
                                    <a href="">رسید ها</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="filters-radio">
                            <div class="title">
                                مرتب بر اساس :
                            </div>
                            <div class="container">
                                <div>
                                    <a class="{% if not request.GET.sort_by or request.GET.sort_by == 'need_to_check' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=need_to_check&search={{ request.GET.search }}">
                                        نیاز به بررسی
                                    </a>
                                </div>
                                <div>
                                    <a class="{% if request.GET.sort_by == 'latest' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=latest&search={{ request.GET.search }}">
                                        جدید ترین
                                    </a>
                                </div>
                                <div>
                                    <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=oldest&search={{ request.GET.search }}">
                                        قدیمی ترین
                                    </a>
                                </div>
                                <div>
                                    <a class="{% if request.GET.sort_by == 'highest_amount' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=highest_amount&search={{ request.GET.search }}">
                                        بیشترین مبلغ
                                    </a>
                                </div>
                                <div>
                                    <a class="{% if request.GET.sort_by == 'lowset_amount' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=lowset_amount&search={{ request.GET.search }}">
                                        کمترین مبلغ
                                    </a>
                                </div>
                                <div>
                                    <a class="{% if request.GET.sort_by == 'datetime_latest' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=datetime_latest&search={{ request.GET.search }}">
                                        تاریخ واریز
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="{% if request.GET.sort_by == 'datetime_oldest' %}active{% endif %}"
                                       href="{% url 'receipt:receipt_dashboard_list' %}?sort_by=datetime_oldest&search={{ request.GET.search }}">
                                        تاریخ واریز
                                          <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <form action="{% url 'receipt:receipt_dashboard_list' %}">
                                <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                                <p class="title">جست و جو :</p>
                                <div class="cnt-search col-11 col-md-7">
                                    <input type="text" name="search"
                                           placeholder="کد رهگیری ، نام ساختمان ، مبلغ ، نام کاربر و .."
                                           value="{{ request.GET.search }}">
                                    <div>
                                        {% if request.GET.search %}
                                        <a class="text-danger font-80" style="margin-left: 8px;"
                                           href="{% url 'receipt:receipt_dashboard_list' %}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        {% endif %}
                                        <button>
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="card-body">
                            <div class="list-row">
                                <div class="title-list-row">
                                    <div class="col-2">
                                        تاریخ واریز
                                    </div>
                                    <div class="col-1">
                                        نام ساختمان
                                    </div>
                                    <div class="col-1">
                                        نام پروژه
                                    </div>
                                    {% if user.is_admin %}
                                    <div class="col-2">
                                        کاربر
                                    </div>
                                    {% endif %}
                                    <div class="col-1">
                                        مبلغ
                                    </div>
                                    <div class="col-1">
                                        امتیاز
                                    </div>
                                    <div class="col-1">
                                        وضعیت
                                    </div>
                                    <div class="col-2">
                                        جزئیات
                                    </div>
                                </div>
                                {% for receipt in receipts %}
                                <div class="detail-row">
                                    <div class="col-2 datetime-convert font-75">
                                        {{ receipt.get_deposit_datetime }}
                                    </div>
                                    <div class="col-1">
                                        <a href="{{ receipt.building.get_absolute_url }}">
                                            {{ receipt.building.name|truncatechars:20 }}
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a href="{{ receipt.building.project.get_absolute_url }}">
                                            {{ receipt.building.project.name|truncatechars:20 }}
                                        </a>
                                    </div>
                                    {% if user.is_admin %}
                                    <div class="col-2">
                                        <a href="{{ receipt.user.get_absolute_url }}">
                                            {{ receipt.user.get_full_name|truncatechars:10 }}
                                        </a>
                                    </div>
                                    {% endif %}
                                    <div class="col-1">
                                        <span class="price-el">{{ receipt.amount }}</span>
                                    </div>
                                    <div class="col-1">
                                        {{ receipt.get_score }}
                                    </div>
                                    <div class="col-1">
                                        {% if receipt.status == 'accepted' %}
                                        تایید شده
                                        <i class="fa fa-check-circle font-size-10 text-success"></i>
                                        {% elif receipt.status == 'pending' %}
                                        در صف
                                        <i class="fa fa-spinner font-size-10 text-warning"></i>
                                        {% elif receipt.status == 'rejected' %}
                                        رد شده
                                        <i class="fa fa-times-circle font-size-10 text-danger"></i>
                                        {% endif %}
                                    </div>
                                    <div class="col-2">
                                        <a href="{{ receipt.get_absolute_url }}">
                                            مشاهده
                                            <i class="far fa-arrow-alt-circle-left"></i>
                                        </a>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="container-not-found-base">
                                    <p>رسیدی یافت نشد</p>
                                    {% if request.GET.sort_by or request.GET.search %}
                                    <a href="{% url 'receipt:receipt_dashboard_list' %}"
                                       class="font-80 mt-2 d-block text-warning">
                                        <i class="fa fa-times"></i>
                                        حذف فیلتر و جست و جو
                                    </a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="pagination">
                                <div class="step-links">
                                    {% if pagination.has_previous %}
                                    <span class="pagination-previous">
                                                <a href="?page=1">اول</a><a
                                            href="?page={{ pagination.previous_page_number }}&sort_by={{ request.GET.sort_by }}&search={{ request.GET.search }}">قبلی</a>
                                            </span>
                                    {% endif %}
                                    <span class="current">
                                        صفحه  {{ pagination.number }} از {{ pagination.paginator.num_pages }}
                                        </span>

                                    {% if pagination.has_next %}
                                    <span class="pagination-next">
                                                <a href="?page={{ pagination.next_page_number }}&sort_by={{ request.GET.sort_by }}&search={{ request.GET.search }}">بعدی</a><a
                                            href="?page={{ pagination.paginator.num_pages }}&sort_by={{ request.GET.sort_by }}&search={{ request.GET.search }}">اخر</a>
                                            </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'account/dashboard/components/base/footer.html' %}
</section>
{% endblock %}








