{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>
        {% block Title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/notify.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/28.0.0/font-face.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"/>#}


    {% block Link %}
    {% endblock %}

    {% block Style %}
    {% endblock %}

</head>
<body>
{% block Content %}

{% endblock %}
<script>
    {% for message in messages %}
        createNotify({
            title: '{{ message.tags }}' == 'success' ? 'موفق' : 'ارور',
            message: '{{ message }}',
            theme: '{{ message.tags }}'
        })
    {% endfor %}
</script>
<script src="{% static 'scripts/urls.js' %}"></script>
<script src="{% static 'scripts/notify.js' %}"></script>
<script src="{% static 'scripts/base.js' %}"></script>

{% block Script %}
{% endblock %}

{% block Js %}
{% endblock %}
</body>

</html>