{% extends 'account/dashboard/components/base/base_template.html' %}
{% load static %}
{% load custom_tags %}

{% block Title %}
    پرسش -
    {{ question.title|truncatechars:30 }}
{% endblock %}

{% block Style %}
    <style>
        img {
            width: 300px;
        }
    </style>
{% endblock %}

{% block Content %}

    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="white_card mb_30">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h2 class="m-0">پرسش</h2>
                        </div>
                    </div>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="{% url 'account:dashboard' %}">داشبورد</a>
                            </li>
                            <li>
                                <a href="">پرسش - {{ question.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 ">
                <div id="container-index">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap d-block">
                                                <div class="single_quick_activity d-block d-md-flex justify-content-between align-items-center">
                                                    <div class="count_content mb-0">
                                                        <span class="d-block text-mute">عملیات</span>
                                                    </div>
                                                    <div class="text-center">
                                                        <div>
                                                            {% if perms.support.export_data_question %}
                                                                <div class="dropdown d-inline-block">
                                                                    <a class="btn btn-outline-primary dropdown-toggle px-4"
                                                                       href="#" role="button" id="dropdownMenuLink"
                                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                                        نتیجه
                                                                    </a>
                                                                    <ul class="dropdown-menu"
                                                                        aria-labelledby="dropdownMenuLink">
                                                                        <li>
                                                                            <a class="dropdown-item"
                                                                               href="{% url 'support:support_dashboard_question_detail_export' question_id=question.id %}">خروجی
                                                                                اکسل</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            {% endif %}

                                                            {% if perms.support.delete_question %}
                                                                <button class="btn btn-w btn-outline-danger m-1"
                                                                        type="button" data-bs-toggle="modal"
                                                                        data-bs-target="#container-delete">
                                                                    حذف
                                                                    <i class="fa fa-trash"></i>
                                                                </button>

                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap"
                                                 style="grid-template-columns: repeat(3,1fr)">
                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">عنوان</span>
                                                        <h3>
                                                            <span class="font-s-25">{{ question.title }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-primary">
                                                        <i class="fa fa-question-circle font-s-20 text-white"></i>
                                                    </a>
                                                </div>
                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">توضیحات</span>
                                                        <h3>
                                                            <span class="font-s-25">{{ question.description|default:'توضیحی ثبت نشده است' }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-danger">
                                                        <i class="fa fa-info font-s-20 text-white"></i>
                                                    </a>
                                                </div>
                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">ساختمان</span>
                                                        <a href="{{ question.building.get_absolute_url }}">
                                                            <h3>
                                                                <span class="font-s-25">
                                                                    {{ question.building.name }}
                                                                </span>
                                                            </h3>
                                                        </a>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-dark">
                                                        <i class="fa fa-building font-s-20 text-white"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if question.image %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_element">
                                    <div class="quick_activity">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="quick_activity_wrap d-block">
                                                    <div class="single_quick_activity d-block d-md-flex justify-content-between align-items-center">
                                                        <div class="count_content">
                                                            <span class="mb-2 d-block text-mute">عکس</span>
                                                        </div>
                                                        <div class="text-center">
                                                            <img src="{{ question.image.url }}"
                                                                 alt="{{ question.title }}" class="click-full-size">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap">

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">گزینه اول</span>
                                                        <h3>
                                                            <span class="font-s-35">{{ question.option_1 }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-primary">
                                                        <i class="fa fa-dice-one font-s-20 text-white"></i>
                                                    </a>
                                                    <span class="font-75">
                                                        <span class="text-mute font-size-12">درصد پاسخ</span>
                                                        %{% call question 'get_answer_percentage' question.option_1 %}
                                                    </span>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">گزینه دوم</span>
                                                        <h3>
                                                            <span class="font-s-35">{{ question.option_2 }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-danger">
                                                        <i class="fa fa-dice-two font-s-20 text-white"></i>
                                                    </a>
                                                    <span class="font-75">
                                                        <span class="text-mute font-size-12">درصد پاسخ</span>
                                                        %{% call question 'get_answer_percentage' question.option_2 %}
                                                    </span>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">گزینه سوم</span>
                                                        <h3>
                                                            <span class="font-s-35">{{ question.option_3 }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-warning">
                                                        <i class="fa fa-dice-three font-s-20 text-white"></i>
                                                    </a>
                                                    <span class="font-75">
                                                        <span class="text-mute font-size-12">درصد پاسخ</span>
                                                        %{% call question 'get_answer_percentage' question.option_3 %}
                                                    </span>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="count_content">
                                                        <span class="mb-2 d-block text-mute">گزینه چهارم</span>
                                                        <h3>
                                                            <span class="font-s-35">{{ question.option_4 }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-success">
                                                        <i class="fa fa-dice-four font-s-20 text-white"></i>
                                                    </a>
                                                    <span class="font-75">
                                                        <span class="text-mute font-size-12">درصد پاسخ</span>
                                                        %{% call question 'get_answer_percentage' question.option_4 %}
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="white_card mb_30 card_height_100">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">پاسخ ها</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body">
                                    <div class="table-responsive">
                                        <table class="table bayer_table m-0">
                                            <tbody>
                                            {% for answer in question.get_answers %}
                                                <tr style="border: hidden;">
                                                    <td>
                                                        <div class="payment_gatway">
                                                            <h5 class="byer_name font-s-25 f_w_600 color_theme">
                                                                {{ forloop.counter }}#
                                                                ( <a href="{{ answer.user.get_absolute_url }}">
                                                                    {{ answer.user.get_full_name }}
                                                                </a>)
                                                            </h5>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="payment_gatway">
                                                            <h5 class="byer_name color_theme">
                                                               {{ answer.answer }}
                                                            </h5>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="payment_gatway">
                                                            <a href="{{ answer.get_absolute_url }}"
                                                               class="font-16">
                                                                مشاهده
                                                                <i class="far fa-arrow-alt-circle-left"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <div class="container-not-found-base">
                                                        <p>پاسخی یافت نشد</p>
                                                    </div>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>


    <div id="container-delete" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg col-lg-12">
            <div class="modal-content white_card mb_30">
                <div class="white_card_header">
                    <div class="modal-header box_header m-0">
                        <h3 class="m-0">حذف پرسش</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="white_card_body">
                    <form action="{% url 'support:support_dashboard_question_delete' question_id=question.id %}"
                          method="post" class="col-12">
                        {% csrf_token %}
                        <div class="card-body">
                            <div>
                                <p class="text- bg-danger-light">
                                    توجه کنید با حذف پرسش تمامی محتوا و امور مربوط به پرسش از جمله پاسخ ها حذف خواهد شد
                                </p>
                            </div>
                            <div class="text-left mt-4">
                                <button class="btn btn-danger">
                                    متوجه ام، حذف پرسش
                                    <i class="fa fa-up"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}





