{% extends 'account/dashboard/components/base/base_template.html' %}
{% load static %}
{% load custom_tags %}

{% block Title %}
    ساختمان -
    {{ building.name }}
{% endblock %}

{% block Style %}
    <style>

        #chart-building-payment {
            margin: 10px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            height: 100%;
            width: 95%;
        }

        .notification {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 15px 0;
            box-shadow: 0 3px 4px rgba(238, 238, 238, 0.4);
        }

        .notification-des {
            font-size: 80%;
            padding: 3px 7px;
            border-radius: 5px;
            color: #235ad2 !important;
            background: linear-gradient(to left, #fafeff 85%, rgba(255, 255, 255, 0));
        }

        .notification-des a {
            color: inherit;
        }

        .notification-time {
            color: #999;
            font-size: 65%;
        }

        .notification-time i {
            color: #ffe289;
        }

        .building-detail {
            padding: 30px !important;
        }

        .building-detail .single_quick_activity {
            border: 1px solid #f0f0f0;
        }

        .building-detail .count_content span {
            font-size: 85%;
        }

        tr.active {
            background: #e9f6f2 !important;
        }


        tr.active td:first-of-type {
            border-radius: 0 10px 10px 0;
        }

        tr.active td:last-of-type {
            border-radius: 10px 0 0 10px;
        }

        .btn-edit-outline {
            background: #fff;
            border: 1px solid #5791f3;
            border-radius: 6px;
            color: #5791f3;
            width: 105px;
            transition: all .2s !important;
        }

        .btn-edit-outline:hover {
            background: #5791f3;
            color: #fff;
        }

        .btn-edit {
            border-radius: 6px;
            background: #5791f3;
            color: #fff;
            transition: all .2s !important;
        }

        .btn-edit:hover {
            box-shadow: 0 2px 2px #2a4a81;
        }

        .btn-submit {
            background: #0ae1a7;
            color: #fff;
        }

        .btn-submit:hover {
            box-shadow: 0 2px 2px #09b284;
            color: #ffffff;
        }

        .btn-w {
            border-radius: 6px;
            width: 105px;
        }


    </style>
{% endblock %}

{% block Content %}

    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="white_card mb_25">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h1 class="m-0">ساختمان</h1>
                        </div>
                    </div>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="{% url 'account:dashboard' %}">داشبورد</a>
                            </li>
                              <li>
                                <a href="{% url 'receipt:building_dashboard_list' %}">ساختمان ها</a>
                            </li>
                            <li>
                                <a href="">ساختمان - {{ building.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 ">
                <div id="container-index">
                    {% if user.is_super_admin %}
                        <div class="row">
                            <div class="col-12">
                                <div class="white_card mb-4">
                                    <div class="white_card_header d-block d-md-flex justify-content-between align-items-center">
                                        <div class="main-title">
                                            <h3 class="m-0">عملیات</h3>
                                        </div>
                                        <div class="text-center mt-1">
                                            <button class="btn btn-w btn-edit-outline m-1" type="button"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#container-edit-building">
                                                تغییر
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-w btn-outline-danger m-1" type="button"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#container-delete-building">
                                                حذف
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <div class="white_card card_height_100">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">مشخصات</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="white_card_body building-detail">
                                    <div class="single_element">
                                        <div class="quick_activity">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="quick_activity_wrap"
                                                         style="grid-template-columns:repeat(2,1fr) ">

                                                        <div class="single_quick_activity">
                                                            <div class="count_content">
                                                                <span class="mb-2 d-block text-mute">نام پروژه</span>
                                                                <h3>
                                                                    <span class="font-s-25 price-el">{{ building.project.name }}</span>
                                                                </h3>
                                                            </div>
                                                            <a href="#" class="notification_btn bg-purple">
                                                                <i class="fa fa-project-diagram font-s-20 text-white"></i>
                                                            </a>
                                                        </div>

                                                        <div class="single_quick_activity">
                                                            <div class="count_content">
                                                                <span class="mb-2 d-block text-mute">نام ساختمان</span>
                                                                <h3>
                                                                    <span class="font-s-25 price-el">{{ building.name }}</span>
                                                                </h3>
                                                            </div>
                                                            <a href="#" class="notification_btn bg-dark">
                                                                <i class="fa fa-building font-s-20 text-white"></i>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="quick_activity">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="quick_activity_wrap"
                                                         style="grid-template-columns: repeat(3,1fr)">

                                                        <div class="single_quick_activity">
                                                            <div class="count_content">
                                                                <span class="mb-2 d-block text-mute">درصد پیشرفت</span>
                                                                <h3>
                                                                    <span class="font-s-25 price-el">{{ building.progress_percentage }}</span>
                                                                    <i class="fa fa-percent font-60"></i>
                                                                </h3>
                                                            </div>
                                                            <a href="#" class="notification_btn bg-primary">
                                                                <i class="fa fa-percentage font-s-20 text-white"></i>
                                                            </a>
                                                        </div>

                                                        <div class="single_quick_activity">
                                                            <div class="count_content">
                                                                <span class="mb-2 d-block text-mute">تعداد کاربران شرکت کرده</span>
                                                                <h3>
                                                                    <span class="font-s-25 price-el">{{ building.get_users.count }}</span>
                                                                </h3>
                                                            </div>
                                                            <a href="#" class="notification_btn bg-success">
                                                                <i class="fa fa-users font-s-20 text-white"></i>
                                                            </a>
                                                        </div>

                                                        <div class="single_quick_activity">
                                                            {% if building.is_active %}
                                                                <div class="count_content">
                                                                    <span class="mb-2 d-block text-mute">وضعیت</span>
                                                                    <h3>
                                                                        <span class="font-s-30">ساختمان فعال است</span>
                                                                    </h3>
                                                                </div>
                                                                <a href="#" class="notification_btn bg-info">
                                                                    <i class="fa fa-unlock-alt font-s-20 text-white"></i>
                                                                </a>
                                                            {% else %}
                                                                <div class="count_content">
                                                                    <span class="mb-2 d-block text-mute">وضعیت</span>
                                                                    <h3>
                                                                        <span class="font-s-30">ساختمان فعال نیست</span>
                                                                    </h3>
                                                                </div>
                                                                <a href="#" class="notification_btn bg-warning">
                                                                    <i class="fa fa-lock font-s-20 text-white"></i>
                                                                </a>
                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.is_admin %}
                        <div class="row">
                            <div class="col-12">
                                <div class="white_card card_height_100 mb_30">
                                    <div class="white_card_header">
                                        <div class="box_header m-0">
                                            <div class="main-title">
                                                <h3 class="m-0">نمودار پرداختی</h3>
                                            </div>
                                            <div class="header_more_tool">
                                                <div class="dropdown">
                                                    <a href="{% url 'receipt:receipt_dashboard_list' %}?search={{ building.name }}">
                                                        <i class="fa fa-angle-left p-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="white_card_body p-0">
                                        <div class="text-center" style="width: 80%;margin: auto; position: relative;">
                                            <canvas id="chart-building-payments"
                                                    user-names="{{ user_names|escape }}"
                                                    user-payments="{{ user_payments|escape }}"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap"
                                                 style="grid-template-columns:repeat(2,1fr)">

                                                <div class="single_quick_activity col-12 col-md-12">
                                                    <div class="count_content">
                                                        <span class="mb-3 d-block text-mute">مبلغ پرداخت شده</span>
                                                        <h3>
                                                            <span class="font-s-35 price-el">{{ building.get_payments }}</span>
                                                            <span>
                                                                تومان
                                                            </span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-secondary">
                                                        <i class="fa fa-dollar-sign font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                                <div class="single_quick_activity col-12 col-md-12">
                                                    <div class="count_content">
                                                        <span class="mb-3 d-block text-mute">تعداد رسید ها</span>
                                                        <h3>
                                                            <span class="font-s-35 price-el">{{ building.get_receipts.count }}</span>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-danger">
                                                        <i class="fa fa-file-alt font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap"
                                                 style="grid-template-columns:repeat(2,1fr)">

                                                <div class="single_quick_activity col-12 col-md-12">
                                                    <div class="count_content">
                                                        <span class="mb-5 d-block text-mute">توضیحات</span>
                                                        <h3>
                                                            <p class="font-s-20">{{ building.description|default:'توضیحاتی ثبت نشده است' }}</p>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-purple">
                                                        <i class="fa fa-info font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                                <div class="single_quick_activity col-12 col-md-12">
                                                    <div class="count_content">
                                                        <span class="mb-5 d-block text-mute">ادرس</span>
                                                        <h3>
                                                            <p class="font-s-20">{{ building.address }}</p>
                                                        </h3>
                                                    </div>
                                                    <a href="#" class="notification_btn bg-green">
                                                        <i class="fa fa-map-marker-alt font-s-20 text-white"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.is_admin %}
                        <div class="row">
                            <div class="col-12 col-xl-8">
                                <div class="white_card mb_30 card_height_100">
                                    <div class="white_card_header">
                                        <div class="box_header m-0">
                                            <div class="main-title">
                                                <h3 class="m-0">جدید ترین رسید ها</h3>
                                            </div>
                                            <div class="header_more_tool">
                                                <div class="dropdown">
                                                    <a href="{% url 'receipt:receipt_dashboard_list' %}?search={{ building.name }}">
                                                        <i class="fa fa-angle-left p-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="white_card_body">
                                        <div class="table-responsive">
                                            <table class="table bayer_table m-0">
                                                <tbody>
                                                {% for receipt in building.get_receipts|slice:':6' %}
                                                    <tr style="border: hidden;">
                                                        <td>
                                                            <div class="payment_gatway">
                                                                <h5 class="byer_name f_s_16 f_w_600 color_theme">{{ receipt.user.get_full_name }}</h5>
                                                                <p class="font-70 f_w_600 text-center p-0 bg-{{ receipt.get_status }}"
                                                                   style="width: 70px">{{ receipt.get_status_label }}</p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="payment_gatway text-end">
                                                                <h5 class="byer_name  f_s_16 f_w_600 color_theme price-el">
                                                                    {{ receipt.amount }}
                                                                </h5>
                                                                <p class="color_gray f_s_12 f_w_600 text-left font-80">
                                                                    تومان</p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="payment_gatway">
                                                                <a href="{{ receipt.get_absolute_url }}"
                                                                   class="font-size-14">
                                                                    مشاهده
                                                                    <i class="far fa-arrow-alt-circle-left"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 col-xl-4">
                                {% with building.get_receipts.first as receipt %}
                                    <div class="white_card card_height_100 mb_30">
                                        <div class="white_card_header">
                                            <div class="box_header m-0">
                                                <div class="main-title">
                                                    <h3 class="m-0">اخرین رسید</h3>
                                                </div>
                                                <div class="header_more_tool">
                                                    <div class="dropdown">
                                                        <a href="{{ receipt.get_absolute_url }}">
                                                            <i class="fa fa-angle-left p-1"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="white_card_body">
                                            {% if receipt %}
                                                <div class="equal_hdr mb_15 d-flex justify-content-between align-items-center flex-wrap">
                                                    <h4 class="f_s_28 f_w_600">
                                                <span class="price-el">
                                                    {{ receipt.amount }}
                                                </span>
                                                        <span>تومان</span>
                                                    </h4>
                                                    <a href="#"
                                                       class="Euro_btn bg-warning text-white py-2 px-3 font-70">
                                                    <span class="price-el">
                                                        {{ receipt.get_score }}
                                                    </span>
                                                        <i class="fa fa-star text-white"></i>
                                                    </a>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="color_gray f_s_14 f_w_600 mb_15 font-70">{{ receipt.get_created_at_timepast }}</p>
                                                    <p class="bg-{{ receipt.get_status }} font-70 font-weight-bold">{{ receipt.get_status_label }}</p>
                                                </div>
                                                <div class="detail-receipt">
                                                    <div>
                                                        <a href="{{ receipt.get_absolute_url }}">
                                                            <img src="{{ receipt.picture.url }}" alt="{{ receipt.id }}">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="area-spaline"></div>

                                            {% else %}
                                                <div class="container-not-found-base h-100 vertical-align-center">
                                                    <p>پرداختی یافت نشد</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white_card card_height_100 mb_30 QA_section">
                                <div class="white_card_header">
                                    <div class="box_header m-0">
                                        <div class="main-title">
                                            <h3 class="m-0">رتبه بندی کاربران</h3>
                                        </div>
                                        {% if request.user.is_admin %}
                                            <div class="header_more_tool">
                                                <a href="{% url 'account:user_list' %}">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="white_card_body">
                                    <div class="QA_table table-responsive ">

                                        <table class="table pt-0">
                                            <thead>
                                            <tr>
                                                <th scope="col">رتبه</th>
                                                <th scope="col">نام و نام خانوادگی</th>
                                                <th scope="col">شماره همراه</th>
                                                {% if request.user.is_super_admin %}
                                                    <th scope="col">امتیاز</th>
                                                {% endif %}
                                            
                                                {% if user.is_admin %}
                                                    <th scope="col">جزئیات</th>
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in building.get_users_sort_by_score %}
                                                <tr {% if user == request.user %}class="active"{% endif %}>
                                                    <td>
                                                        {{ forloop.counter }}#
                                                    </td>
                                                    <td>
                                                        {{ user.get_full_name|truncatechars:20 }}
                                                    </td>
                                                    <td>
                                                        {{ user.get_raw_phonenumber }}
                                                    </td>
                                                    {% if request.user.is_super_admin %}
                                                        <td class="nowrap">
                                                            <span class="price-el">{{ user.score }}</span>
                                                            <i class="fa fa-star text-warning"></i>
                                                        </td>
                                                    {% endif %}
                                                    {% if request.user.is_admin %}
                                                        <td>
                                                            <a class="font-85 text-primary"
                                                               href="{{ user.get_absolute_url }}">
                                                                بیشتر
                                                                <i class="fa fa-angle-left"></i>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="20">
                                                        <div class="container-not-found-base">
                                                            <p>کاربری یافت نشد</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>


    <div id="container-edit-building" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg col-lg-12">
            <div class="modal-content white_card mb_30">
                <div class="white_card_header">
                    <div class="modal-header box_header m-0">
                        <h3 class="m-0">تغییر ساختمان</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="white_card_body">
                    <form action="{% url 'receipt:building_dashboard_detail_update' building_id=building.id %}"
                          method="post" class="col-12">
                        <div class="card-body">
                            {% csrf_token %}

                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpNameBuilding">
                                        نام
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="text" required="" class="form-control" value="{{ building.name }}"
                                           id="inpNameBuilding" name="name" aria-required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpAddressBuilding">
                                        ادرس
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="text" required="" class="form-control" value="{{ building.address }}"
                                           id="inpAddressBuilding" name="address" aria-required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpProgressBuilding">
                                        درصد پیشرفت
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="number" required="" class="form-control"
                                           value="{{ building.progress_percentage }}"
                                           id="inpProgressBuilding" name="progress_percentage" aria-required="" min="0"
                                           max="100">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">
                                    وضعیت فعالی
                                    <span class="field-required">*</span>
                                </label>
                                <select name="is_active" class="form-control" required>
                                    <option value="true" {% if building.is_active %}selected{% endif %}>فعال</option>
                                    <option value="false" {% if building.is_active == False %}selected{% endif %}>غیر
                                        فعال
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">
                                    پروژه
                                    <span class="field-required">*</span>
                                </label>
                                <select name="project" class="form-control form-select" required>
                                    {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">
                                    توضیحات
                                </label>
                                <textarea name="description" class="form-control">{{ building.description }}</textarea>
                            </div>
                            <div class="text-left mt-4">
                                <button class="btn btn-submit">
                                    ثبت و بروزرسانی
                                    <i class="fa fa-up"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="container-edit-building" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg col-lg-12">
            <div class="modal-content white_card mb_30">
                <div class="white_card_header">
                    <div class="modal-header box_header m-0">
                        <h3 class="m-0">تغییر ساختمان</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="white_card_body">
                    <form action="{% url 'receipt:building_dashboard_detail_update' building_id=building.id %}"
                          method="post" class="col-12">
                        <div class="card-body">
                            {% csrf_token %}

                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpNameBuilding">
                                        نام
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="text" required="" class="form-control" value="{{ building.name }}"
                                           id="inpNameBuilding" name="name" aria-required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpAddressBuilding">
                                        ادرس
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="text" required="" class="form-control" value="{{ building.address }}"
                                           id="inpAddressBuilding" name="address" aria-required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpProgressBuilding">
                                        درصد پیشرفت
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="number" required="" class="form-control"
                                           value="{{ building.progress_percentage }}"
                                           id="inpProgressBuilding" name="progress_percentage" aria-required="" min="0"
                                           max="100">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">
                                    وضعیت فعالی
                                    <span class="field-required">*</span>
                                </label>
                                <select name="is_active" class="form-control" required>
                                    <option value="true" {% if building.is_active %}selected{% endif %}>فعال</option>
                                    <option value="false" {% if building.is_active == False %}selected{% endif %}>غیر
                                        فعال
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">
                                    توضیحات
                                </label>
                                <textarea name="description" class="form-control">{{ building.description }}</textarea>
                            </div>
                            <div class="text-left mt-4">
                                <button class="btn btn-submit">
                                    ثبت و بروزرسانی
                                    <i class="fa fa-up"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="container-delete-building" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg col-lg-12">
            <div class="modal-content white_card mb_30">
                <div class="white_card_header">
                    <div class="modal-header box_header m-0">
                        <h3 class="m-0">حذف ساختمان</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="white_card_body">
                    <form action="{% url 'receipt:building_dashboard_detail_delete' building_id=building.id %}"
                          method="post" class="col-12">
                        <div class="card-body">
                            {% csrf_token %}
                            <div>
                                <p class="text- bg-danger-light">
                                    توجه کنید با حذف ساختمان تمامی محتوا و امور مربوط به ان حذف خواهد شد
                                </p>
                            </div>
                            <div class="text-left mt-4">
                                <button class="btn btn-danger">
                                    متوجه ام، حذف ساختمان
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}





