{% extends 'account/dashboard/components/base/base_template.html' %}

{% block Title %}
    رسید {{ receipt_task.id }}
{% endblock %}

{% block Style %}
    <style>

        form {
            display: inline-block;
        }

        .receipt-task img {
            width: 300px;
            height: 230px;
            object-fit: contain;
            border: 1px solid #e6e6e6;
            border-radius: 20px;
        }

        .receipt-task .detail a {
            color: #7796d2;
            background: #fefefe;
            padding: 2px 4px;
            border-radius: 15px;
        }

        .receipt-task .detail a:hover {
            color: #4077f5;
            background: #f5f5f5;
        }

        .receipt-task-status {
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #f0f0f0;
        }

        .detail {
            direction: rtl;
            border: 1px solid #f0f0f0;
            border-radius: 10px;
            padding: 10px;
        }

        .detail-field {
            margin: 10px 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid #f2f2f2;
        }

        .detail-field:last-of-type {
            border-bottom: none;
        }

        .detail-field > span {
            font-size: 75%;
            color: #889ba6;
        }

        .detail-field p {
            margin: 0;
            display: inline-block;
            font-size: 80%;
            color: #555;
        }

        .detail-field a {
            font-size: 80%;
        }

        .detail-field p span {
            color: inherit;
        }

        .btn-accept {
            width: 120px;
            background: #0ae1a7;
            color: #fff;
        }

        .btn-reject {
            width: 100px;
            background: #f8eded;
            color: #e15250;
        }

        .btn-accept:hover {
            box-shadow: 0 2px 2px #09b284;
            color: #ffffff;
        }

        .btn-reject:hover {
            box-shadow: 0 2px 2px #eed6d6;
            color: #c93432;
        }

        @media screen and (max-width: 768px) {
            .detail-field {
                display: block;
                padding-bottom: 15px;
            }

            .detail-field > span {
                display: block;
                text-align: right;
                margin-bottom: 5px;
            }
        }


    </style>
{% endblock %}

{% block Content %}
    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="container-fluid p-0 ">
                <div class="col-lg-12">
                    <div class="white_card mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">
                                        عملیات مدیریت
                                        رسید
                                        شماره
                                        {{ receipt_task.id }}
                                    </h3>
                                </div>
                            </div>
                            <div class="breadcrumb">
                                <ul>
                                    <li>
                                        <a href="{% url 'account:dashboard' %}">داشبورد</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'receipt:receipt_dashboard_task_list' %}">رسید های ادمین</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            عملیات مدیریت
                                            رسید
                                            شماره
                                            {{ receipt_task.id }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <div class="card-body">
                                <div class="receipt-task">
                                    <div class="container-title">
                                        <p>
                                            وضعیت رسید توسط ادمین
                                        </p>
                                    </div>
                                    <div class="receipt-task-status d-block d-md-flex justify-content-between">
                                        <div class="text-mute font-80">
                                            <span class="{{ receipt_task.receipt_status }}">
                                                {{ receipt_task.get_receipt_status_display }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="container-title">
                                        <p>
                                            وضعیت عملیات
                                        </p>
                                    </div>
                                    <div class="receipt-task-status d-block d-md-flex justify-content-between">
                                        <div class="text-mute font-80 mb-3">
                                            <span class="{{ receipt_task.status }}">
                                                {{ receipt_task.get_status_display }}
                                            </span>
                                        </div>
                                        <div>
                                            {% if perms.receipt.user_accept_receipt_task and not receipt_task.status == 'accepted' %}
                                                <form action="{% url 'receipt:receipt_dashboard_task_detail_accept' receipt_task_id=receipt_task.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button href="#" class="btn btn-accept">
                                                        تایید
                                                        <i class="fa fa-check-circle"></i>
                                                    </button>
                                                </form>
                                            {% endif %}
                                            {% if perms.receipt.user_reject_receipt_task and receipt_task.status == 'pending' %}
                                                <form action="{% url 'receipt:receipt_dashboard_task_detail_reject' receipt_task_id=receipt_task.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button href="" class="btn btn-reject">
                                                        رد
                                                        <i class="fa fa-times-circle"></i>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="container-title">
                                        <p>
                                            جزئیات
                                        </p>
                                    </div>
                                    <div class="d-block d-md-flex justify-content-between align-items-start text-center"
                                         dir="ltr">
                                        <div class="mb-4">
                                            <p class="text-center mb-1 font-size-14 text-muted">عکس رسید</p>
                                            <img class="click-full-size" src="{{ receipt_task.receipt.picture.url }}"
                                                 alt="{{ receipt_task.receipt.id }}">
                                        </div>
                                        <div class="detail col-12 col-md-6">
                                            <div class="detail-field">
                                                <span>رسید</span>
                                                <p>
                                                    <a href="{{ receipt_task.receipt.get_absolute_url }}">{{ receipt_task.receipt.tracking_code }}</a>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>کاربر بررسی کننده</span>
                                                <p>
                                                    <a href="{{ receipt_task.user_admin.get_absolute_url }}">{{ receipt_task.user_admin.get_full_name }}
                                                        - {{ receipt_task.user_admin.get_raw_phonenumber }}</a>
                                                </p>
                                            </div>
                                            {% if receipt_task.user_supervisor and not receipt_task.user_supervisor.is_superuser %}
                                                <div class="detail-field">
                                                    <span>کاربر ناظر</span>
                                                    <p>
                                                        <a href="{{ receipt_task.user_supervisor.get_absolute_url }}">{{ receipt_task.user_supervisor.get_full_name }}
                                                            - {{ receipt_task.user_supervisor.get_raw_phonenumber }}</a>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            <div class="detail-field">
                                                <span>ساختمان</span>
                                                <p>
                                                    <a href="{{ receipt_task.receipt.building.get_absolute_url }}">
                                                        {{ receipt_task.receipt.building.name }}
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>مبلغ</span>
                                                <p>
                                                    <span class="price-el">{{ receipt_task.receipt.amount }}</span>
                                                    <span>تومان</span>
                                                </p>
                                            </div>
                                            {% if receipt_task.receipt.status == 'accepted' %}
                                                <div class="detail-field">
                                                    <span>امتیاز</span>
                                                    <p>
                                                        <span class="price-el">{{ receipt_task.receipt.get_score }}</span>
                                                        <i class="fa fa-star text-warning"></i>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            {% if perms.receipt.view_ratio_score_receipt %}
                                                <div class="detail-field">
                                                    <span>ضریب امتیاز</span>
                                                    <p class="font-70">
                                                        {{ receipt_task.receipt.ratio_score }}
                                                    </p>
                                                </div>
                                            {% endif %}
                                            <div class="detail-field">
                                                <span>تاریخ ثبت عملیات</span>
                                                <p>
                                                    <span class="datetime-convert">{{ receipt_task.receipt.get_created_at }}</span>
                                                    <span class="font-size-10">({{ receipt_task.receipt.get_created_at_timepast }})</span>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>تاریخ واریز </span>
                                                <p>
                                                    <span class="datetime-convert">{{ receipt_task.receipt.get_deposit_datetime }}</span>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>نام واریز کننده </span>
                                                <p>
                                                    {{ receipt_task.receipt.depositor_name }}
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>نام بانک </span>
                                                <p>
                                                    {{ receipt_task.receipt.bank_name }}
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>توضیحات کاربر</span>
                                                <p>
                                                    {{ receipt_task.receipt.description|default:'بدون توضیحات' }}
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>توضیحات ادمین</span>
                                                <p>
                                                    {{ receipt_task.receipt.note|default:'بدون توضیحات' }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>


{% endblock %}








