{% extends 'account/dashboard/components/base/base_template.html' %}

{% block Title %}
    رسید {{ receipt.id }}
{% endblock %}

{% block Style %}
    <style>

        form {
            display: inline-block;
        }

        .receipt-task img {
            width: 300px;
            height: 230px;
            object-fit: contain;
            border: 1px solid #e6e6e6;
            border-radius: 20px;
        }

        .receipt-task .detail a {
            color: #7796d2;
            background: #fefefe;
            padding: 2px 4px;
            border-radius: 15px;
        }

        .receipt-task .detail a:hover {
            color: #4077f5;
            background: #f5f5f5;
        }

        .receipt-task-status {
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #f0f0f0;
        }

        .detail {
            direction: rtl;
            border: 1px solid #f0f0f0;
            border-radius: 10px;
            padding: 10px;
        }

        .detail-field {
            margin: 10px 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid #f2f2f2;
        }

        .detail-field:last-of-type {
            border-bottom: none;
        }

        .detail-field > span {
            font-size: 75%;
            color: #889ba6;
        }

        .detail-field p {
            margin: 0;
            display: inline-block;
            font-size: 80%;
            color: #555;
        }

        .detail-field a {
            font-size: 80%;
        }

        .detail-field p span {
            color: inherit;
        }


        .btn-accept {
            width: 120px;
            background: #0ae1a7;
            color: #fff;
        }

        .btn-reject {
            width: 100px;
            background: #f8eded;
            color: #e15250;
        }

        .btn-accept:hover {
            box-shadow: 0 2px 2px #09b284;
            color: #ffffff;
        }

        .btn-reject:hover {
            box-shadow: 0 2px 2px #eed6d6;
            color: #c93432;
        }

        .receipt-action {
            border: 1px solid #eee;
            text-align: left;
            padding: 10px;
            border-radius: 10px;
        }

        .receipt-action .btn {
            width: 100px;
            font-size: 75% !important;
        }

        .btn-delete {
            background: #f66b57;
            color: #fff;
        }

        .btn-delete:hover {
            background: #da4d38;
            color: #fff;
        }


    </style>
{% endblock %}

{% block Content %}
    {% include 'account/dashboard/components/base/nav.html' %}

    <section class="main_content dashboard_part large_header_bg">
        {% include 'account/dashboard/components/base/header.html' %}
        <div class="main_content_iner">
            <div class="container-fluid p-0 ">
                <div class="col-lg-12">
                    <div class="white_card mb_30">
                        <div class="white_card_header">
                            <div class="box_header m-0">
                                <div class="main-title">
                                    <h3 class="m-0">
                                        رسید
                                        شماره
                                        {{ receipt.id }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <div class="card-body">
                                <div class="receipt-task">
                                    <div class="container-title">
                                        <p>
                                            وضعیت
                                        </p>
                                    </div>
                                    <div class="receipt-task-status d-block d-md-flex justify-content-between">
                                        <div class="text-mute font-80">
                                            <span class="{{ receipt.status }}">
                                                {{ receipt.get_status_label }}
                                            </span>
                                        </div>
                                        {% if user.is_super_admin %}
                                            <div>
                                                {% if receipt.status != 'accepted' %}
                                                    <button class="btn btn-accept" type="button" data-bs-toggle="modal"
                                                            data-bs-target="#container-receipt-accept"
                                                            id="btnReceiptAccept">
                                                        تایید
                                                        <i class="fa fa-check-circle"></i>
                                                    </button>
                                                {% endif %}
                                                {% if receipt.status == 'pending' %}
                                                    <button class="btn btn-reject" type="button" data-bs-toggle="modal"
                                                            data-bs-target="#container-receipt-reject"
                                                            id="btnReceiptReject">
                                                        رد
                                                        <i class="fa fa-times-circle"></i>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        {% elif user.is_common_admin %}
                                            <div>
                                                {% if receipt.receipttask.receipt_status != 'accepted' and receipt.receipttask.receipt_status %}
                                                    <button class="btn btn-accept" type="button"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#container-receipt-accept"
                                                            id="btnReceiptAccept">
                                                        تایید
                                                        <i class="fa fa-check-circle"></i>
                                                    </button>
                                                {% endif %}
                                               
                                                {% if receipt.status != 'accepted' %}
                                                    {% if receipt.receipttask or receipt.receipttask.receipt_status == 'pending' %}
                                                        <button class="btn btn-reject" type="button"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#container-receipt-reject"
                                                                id="btnReceiptReject">
                                                            رد
                                                            <i class="fa fa-times-circle"></i>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if user.is_common_admin and receipt.receipttask %}
                                        <div class="container-title">
                                            <p>
                                                وضعیت عملیات
                                            </p>
                                        </div>
                                        <div class="receipt-task-status d-block d-md-flex justify-content-between">
                                            <div class="text-mute font-80">
                                                {% if receipt.receipttask.status == 'accepted' %}
                                                    <span class="accepted">
                                               تایید شده
                                                </span>
                                                {% elif receipt.receipttask.status == 'rejected' %}
                                                    <span class="rejected">
                                                رد شده
                                                </span>
                                                {% else %}

                                                    <span class="pending">
                                                در انتظار تایید مدیر
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="container-title">
                                        <p>
                                            جزئیات
                                        </p>
                                    </div>
                                    <div class="d-block d-md-flex justify-content-between align-items-start text-center"
                                         dir="ltr">
                                        <div class="mb-4">
                                            <p class="text-center mb-1 font-size-14 text-muted">عکس رسید</p>
                                            <img class="click-full-size" src="{{ receipt.picture.url }}"
                                                 alt="{{ receipt.id }}">
                                        </div>
                                        <div class="detail col-12 col-md-6">
                                            {% if user.is_admin %}
                                                <div class="detail-field">
                                                    <span>کاربر</span>
                                                    <p>
                                                        <a href="{{ receipt.user.get_absolute_url }}">{{ receipt.user.get_full_name }}
                                                            - {{ receipt.user.get_raw_phonenumber }}</a>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            <div class="detail-field">
                                                <span>ساختمان</span>
                                                <p>
                                                    <a href="{{ receipt.building.get_absolute_url }}">
                                                        {{ receipt.building.name }}
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>کد رهگیری</span>
                                                <p>
                                                    <span>{{ receipt.tracking_code }}</span>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>مبلغ</span>
                                                <p>
                                                    <span class="price-el">{{ receipt.amount }}</span>
                                                    <span>تومان</span>
                                                </p>
                                            </div>
                                            {% if receipt.status == 'accepted' %}
                                                <div class="detail-field">
                                                    <span>امتیاز</span>
                                                    <p>
                                                        <span class="price-el">{{ receipt.get_score }}</span>
                                                        <i class="fa fa-star text-warning"></i>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            <div class="detail-field">
                                                <span>تاریخ ثبت</span>
                                                <p>
                                                    <span class="datetime-convert">{{ receipt.get_created_at }}</span>
                                                    <span class="font-size-10">({{ receipt.get_created_at_timepast }})</span>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>تاریخ واریز</span>
                                                <p>
                                                    <span class="datetime-convert">{{ receipt.get_deposit_datetime }}</span>
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>نام واریز کننده</span>
                                                <p>
                                                    {{ receipt.depositor_name }}
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>نام بانک</span>
                                                <p>
                                                    {{ receipt.bank_name }}
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>توضیحات کاربر</span>
                                                <p>
                                                    {{ receipt.description|default:'بدون توضیحات' }}
                                                </p>
                                            </div>
                                            <div class="detail-field">
                                                <span>توضیحات مدیر</span>
                                                <p>
                                                    {{ receipt.note|default:'بدون توضیحات' }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.is_super_admin %}
                                        <div class="container-title">
                                            <p>
                                                عملیات
                                            </p>
                                        </div>
                                        <div class="receipt-action">
                                            <a href="{% url 'receipt:receipt_dashboard_detail_delete' receipt_id=receipt.id %}"
                                               class="btn btn-delete">
                                                <i class="fa fa-trash"></i>
                                                حذف
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dashboard/components/base/footer.html' %}
    </section>

    <div id="container-receipt-accept" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg col-lg-12">
            <div class="modal-content white_card mb_30">
                <div class="white_card_header">
                    <div class="modal-header box_header m-0">
                        <h3 class="m-0">تایید رسید</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="white_card_body">
                    <form action="{% url 'receipt:receipt_dashboard_detail_accept' receipt_id=receipt.id %}"
                          method="post" class="col-12">
                        <div class="card-body">
                            {% csrf_token %}

                            <div class="col-md-12">
                                <div>
                                    <label class="form-label" for="inpAmountReceipt">
                                        مبلغ
                                        <span class="field-required">*</span>
                                    </label>
                                    <input type="number" required class="form-control" value="{{ receipt.amount }}"
                                           id="inpAmountReceipt" name="amount">
                                </div>
                                <div class="text-left">
                                    <span id="amount-value"
                                          class="price-el text-muted font-size-10">{{ receipt.amount }}</span>
                                    <span class="font-size-10">تومان</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">
                                    توضیحات
                                </label>
                                <textarea name="note" class="form-control"></textarea>
                            </div>

                            <div class="text-left mt-4">
                                <button class="btn btn-accept">
                                    تایید رسید
                                    <i class="fa fa-check-circle"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="container-receipt-reject" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg col-lg-12">
            <div class="modal-content white_card mb_30">
                <div class="white_card_header">
                    <div class="modal-header box_header m-0">
                        <h3 class="m-0">رد رسید</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="white_card_body">
                    <form action="{% url 'receipt:receipt_dashboard_detail_reject' receipt_id=receipt.id %}"
                          method="post" class="col-12">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <label class="form-label">
                                    توضیحات
                                </label>
                                <textarea name="note" class="form-control"></textarea>
                            </div>

                            <div class="text-left mt-4">
                                <button class="btn btn-reject">
                                    رد رسید
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Script %}
    <script>
        // set amount value
        document.querySelector('#inpAmountReceipt').addEventListener('input', function () {
            document.querySelector('#amount-value').innerHTML = numberWithCommas(this.value) || 0
        })
    </script>
{% endblock %}







